body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

button,
input {
  border: 0;
}

#todo-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.todo-container {
  background-color: white;
  padding: 15px;
  width: 400px;
}

.refresh {
  background-color: white;
}

.todo-input {
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #f7f7f7;
  width: 85%;
}

.todo-btn {
  height: 40px;
  background-color: #f7f7f7;
}

.cursor {
  cursor: pointer;
}

.todo-form {
  margin: 20px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
}

.description {
  display: flex;
  justify-content: space-between;
}

.todo-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f4e8e8;
}

.todo-description {
  font-size: 12px;
  margin-left: 10px;
}

.clear-btn {
  background-color: black;
  color: white;
  font-size: 9px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  width: 50%;
}

.clear {
  display: flex;
  justify-content: center;
}
